$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
);

$color-main: #212121;
$firm-color: #EC6A64;
$firm-color-light: #EF807B;
$grey-light: #FDF0EF;
$font: "NunitoSans", sans-serif;