.header {
	width: 100%;
	padding: 0;
	padding-top: 15px;
	&__top {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		position: relative;
		padding-bottom: 15px;
		&::before {
			content: '';
			width: 200vw;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.1);
			position: absolute;
			bottom: 0;
			left: -100vw;
		}
	}
	&__middle {}
	&__bottom {}
	&__fixed-menu {
		display: flex;
		align-items: center;
		position: fixed;
		top: -100%;
		left: 0;
		height: 90px;
		right: 0;
		z-index: 9;
		background-color: #fff;
		padding: 13px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		transition: top 0.5s ease;
		&.active {
			top: 0;
		}
		> div {
			flex: 1 1 auto;
		}
		@include media-down(sm) {
			height: 100px;
		}
	}
}

.search-desktop {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	z-index: 51;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	&__wrapper {
		position: relative;
		top: 250px;
		left: 0;
		height: 80px;
		display: flex;
		flex-direction: row;
		gap: 25px;
		align-items: center;
	}
	&__bk {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(5px);
		z-index: 50;
	}

	&__form {
		position: relative;
		z-index: 51;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 9px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.04);
		border-radius: 85px;
		gap: 40px;
		flex: 1 1 auto;
	}

	&__search {
		width: 25px;
		height: 29px;
		object-fit: contain;
		margin-left: 26px;
	}

	&__input {
		width: 400px;
		flex: 1 1 auto;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
	}

	&__btn {
		width: 62px;
		height: 62px;
		background-color: $firm-color;
		border-radius: 50%;
		position: relative;
		transition: background-color 0.2s ease;
		&::before {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(-50%) rotateY(180deg);
			font-size: 22px;
			color: #fff;
		}
		&:hover {
			background-color: $firm-color-light;
		}
	}

	&__cancel {
		position: relative;
		z-index: 51;
		cursor: pointer;
		width: 20px;
		height: 20px;
		margin-right: 30px;
		transform: rotateY(45deg);
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 28px;
			left: -4px;
			height: 3px;
			background-color: $firm-color;
			border-radius: 1px;
		}
	
		&::before {
			transform: rotateZ(-45deg) translateY(3.5px) translateX(-2px);
			bottom: 12px;
		}
	
		&::after {
			transform: rotateZ(45deg) translateY(-3.5px) translateX(-2px);
			top: 12px;
		}
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
}

.search-mobile {
	left: -100%;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 50;
	padding-top: 15px;
	transition: left 0.5s ease;
	&__wrapper {}

	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

	&__img {
		object-fit: contain;
		width: 233px;
	}

	&__cancel {
		height: 6px;
		width: 17px;
		background-color: $firm-color;
		padding: 14px 8px;
		position: relative;
		box-sizing: content-box;
		border-radius: 5px;
		transition: background-color 0.5s ease;
	
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 17px;
			left: 8px;
			height: 2px;
			background-color: #fff;
			border-radius: 1px;
			transition: transform 0.5s ease;
		}
	
		&::before {
			transform: rotateZ(-45deg) translateY(3.5px) translateX(-2px);
			top: 12px;
		}
	
		&::after {
			transform: rotateZ(45deg) translateY(-3.5px) translateX(-2px);
			bottom: 12px;
		}
	}

	&__form {
		position: relative;
		top: 138px;
		left: 0;
		height: 45px;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 9px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.04);
		border-radius: 85px;
		gap: 15px;
		margin: 0 auto;
		min-width: 290px;
		max-width: 450px;
	}

	&__search {
		width: 18px;
		height: 21px;
		object-fit: contain;
		margin-left: 7px;
	}

	&__input {
		margin-right: 16px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	&__btn {
		position: relative;
		top: 158px;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 25px;
		background-color: $firm-color;
		color: #fff;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		border-radius: 36px;
	}
	&.active {
		left: 0;
	}
}

.desktop-fixed {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	&__logo {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		img {
			width: 64px;
			height: 64px;
			object-fit: contain;
		}
		span {
			text-transform: uppercase;
			font-weight: 900;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 44px;
		align-items: center;
	}

	&__list-item {
		a {
			font-size: calc(14px + 4 * ((100vw - 768px) / (1230 - 768)));
			line-height: calc(20px + 6 * ((100vw - 768px) / (1230 - 768)));
		}
	}

	&__contacts {}

	@media (max-width: 1039.77px) {
		&__logo {
			img {
				width: 50px;
				height: 50px;
			}
		}
		&__list {
			gap: 10px;
		}
	}
	@include media-down(sm) {
		display: none;
	}
}

.mobile-fixed {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	&__left {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 13px;
	}

	&__logo {}

	&__contacts {}

	@include media-up(md) {
		display: none;
	}
}

.menu-mobile {

	&__burger-fixed {
		height: 6px;
		width: 17px;
		background-color: $firm-color;
		padding: 14px 8px;
		position: relative;
		box-sizing: content-box;
		border-radius: 5px;
		transition: background-color 0.5s ease;
	
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 17px;
			left: 8px;
			height: 2px;
			background-color: #fff;
			border-radius: 1px;
			transition: transform 0.5s ease;
		}
	
		&::before {
			top: 12px;
		}
	
		&::after {
			bottom: 12px;
		}
	}
}

.contacts-fixed {

	&__tel {
		color: $firm-color;
	}

	&__desc {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		opacity: 0.7;
		text-align: center;
		@include media-down(sm) {
			text-align: left;
		}
	}
}

.menu {
	&-desktop {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
		@include media-down(sm) {
			display: none;
		}
	}

	&-desktop.active {
		z-index: 2;
		.menu__btn::after,
		.menu__btn::before {
			width: 18px;
		}
	
		.menu__btn::after {
			top: 45%;
			transform: translateY(0) rotateZ(-45deg);
		}
	
		.menu__btn::before {
			top: 45%;
			transform: translateY(0) translateX(7px) rotateZ(45deg);
		}
	
		.menu__btn {
			z-index: 2;
			outline: 1.2px solid $firm-color;
			&:hover {
				outline: 1.2px solid #D0D0D0;
			}
		}

		.menu__img {
			opacity: 0;
		}
	}

	&__btn {
		position: relative;
		width: 110px;
		font-size: 18px;
		font-weight: 600;
		line-height: 26px;
		padding: 2px 42px 2px 20px;
		background-color: #fff;
		outline: 1.2px solid #D0D0D0;
		border-radius: 15.5px;
		color: $firm-color;
		cursor: pointer;
		transition: outline 0.2s ease;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-75%);
			width: 10px;
			height: 1.5px;
			background-color: $firm-color;
			transition: all 0.2s ease;
		}
	
		&::after {
			right: 20px;
			transform: rotateZ(-45deg);
		}
	
		&::before {
			right: 27px;
			transform: rotateZ(45deg);
		}
	
		&:hover {
			outline: 1.2px solid $firm-color;
		}
	
		&:active {
			outline: 1.2px solid $firm-color;
			&::after,&::before {
				width: 18px;
			}
			&::after {
				top: 45%;
				transform: translateY(0) rotateZ(-45deg);
			}
			&::before {
				top: 45%;
				transform: translateY(0) translateX(7px) rotateZ(45deg);
			}
		}
	}

	&__img {
		position: relative;
		font-weight: 600;
		font-size: 12px;
		line-height: 20px;
		color: #295BA7;
		padding-left: 45px;
		transition: opacity 0.2s ease;
		&::before {
			position: absolute;
			top: 0;
			transform: translateY(-5px);
			left: 0;
			font-size: 35px;
			line-height: 30px;
			color: #295BA7;
		}
		@include media-down(sm) {
			color: #fff;
			flex: 1 0 auto;
			&::before {
				color: #fff;
			}
		}
	}

	&-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 5px 0;
		&__img {
			max-width: 233px;
			max-height: 59px;
			img {
				object-fit: contain;
			}
		}
		&__burger {
			height: 6px;
			width: 17px;
			background-color: $firm-color;
			padding: 14px 8px;
			position: relative;
			box-sizing: content-box;
			border-radius: 5px;
			transition: background-color 0.5s ease;
			&::before, &::after {
				content: '';
				position: absolute;
				width: 17px;
				left: 8px;
				height: 2px;
				background-color: #fff;
				border-radius: 1px;
				transition: transform 0.5s ease;
			}
			&::before {
				top: 12px;
			}
			&::after {
				bottom: 12px;
			}
			&.active {
				z-index: 11;
				background-color: #fff;
				position: fixed;
				top: 33px;
				right: 15px;
				&::before {
					background-color: $firm-color;
					transform: rotateZ(-45deg) translateY(3.5px) translateX(-2px);
				}
				&::after {
					background-color: $firm-color;
					transform: rotateZ(45deg) translateY(-3.5px) translateX(-2px);
				}
			}
		}
		@include media-up(md) {
			display: none;
		}
	}
}

.eye-tel {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	&__eye {
		cursor: pointer;
		width: 36px;
		height: 21px;
		background-image: url(../../../src/public/images/eye.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__trust-phone {}
	@include media-down(sm) {
		display: none;
	}
}

/* MENU FOR DESKTOP */

.list {
	z-index: 0;
	position: absolute;
	width: 450px;
	height: 640px;
	top: -670px;
	left: -50px;
	background-color: #fff;
	box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.05);
	border-radius: 0px 0px 25px 25px;
	padding-top: 96px;
	overflow: hidden;
	transition: top 0.5s ease;

	&.active {
		z-index: 1;
		top: -15px;
	}

	&__logo {
		padding-left: 50px;
		margin-bottom: 40px;
	}

	&__wrapper {
		padding-left: 50px;
	}

	&__item {
		> * {
			cursor: pointer;
			display: inline-block;
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.submenu {
	position: absolute;
	width: calc(100% - 50px);
	height: 100%;
	top: 214px;
	left: calc(100% + 50px);
	background-color: #fff;
	z-index: 3;
	transition: left 0.5s ease;

	&.active {
		left: 50px;
	}

	&__arrow-back {
		color: rgba(33, 33, 33, 0.4);
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
		cursor: pointer;
		display: inline-block;
		&::before {
			font-size: 12px;
			padding-right: 10px;
		}
		&:hover {
			color: rgba(33, 33, 33, 0.8);
		}
	}

	&__wrapper {
		margin-right: 72px;
		padding-left: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

/* MENU FOR MOBILE */

.menu-mobile {

	&__menu-wrapper {}
}

.wrapper-menu {
	position: fixed;
	width: 100%;
	left: -100%;
	top: 0;
	bottom: 0;
	z-index: 10;
	overflow-x: hidden;
	transition: left 0.5s ease;

	&.active {
		left: 0;
	}
	&__logo {
		background-color: $firm-color;
		padding: 20px 0 20px 15px;
		position: relative;
		&::before {
			content: '';
			width: 100vw;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.2);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	&__icons {
		background-color: $firm-color;
		padding: 15px;
		display: flex;
		flex-direction: row;
		gap: 37px;
		position: relative;
		&::before {
			content: '';
			width: 100vw;
			height: 1px;
			background-color: rgba(255, 255, 255, 0.2);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	&__eye {
		width: 28px;
		height: 16px;
		background-image: url(../../../src/public/images/eye-red.png);
		background-repeat: no-repeat;
		background-size: contain;

		@include media-up(md) {
			display: none;
		}
	}

	&__search {
		width: 20px;
		height: 23px;
		background-image: url(../../../src/public/images/search-red.png);
		background-repeat: no-repeat;
		background-size: contain;
	
		@include media-up(md) {
			display: none;
		}
	}

	&__links {
		padding: 30px 15px 50px;
		background-color: $firm-color;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		*:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__list {
		margin: 0;
		padding: 40px 15px;
		background-color: #fff;
		position: relative;
		&::before {
			content: '';
			width: 200vw;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.1);
			position: absolute;
			bottom: 0;
			left: -100vw;
		}
	}

	&__contacts {
		position: relative;
		background-color: #fff;
	}

	&__trust-phone {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 51px 0;
		background-color: #EDF2F8;
		a {
			color: $firm-color;
			font-weight: 700;
			font-size: 22px;
			line-height: 28px;
		}
		h6 {
			margin: 0;
		}
	}
}
.contacts-menu {

	&__contact {
		padding: 20px 15px;
		position: relative;
		&::before {
			content: '';
			width: 200vw;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.1);
			position: absolute;
			bottom: 0;
			left: -100vw;
		}
	}

	&__contact-tel {
		color: $firm-color;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
	}

	&__contact-name {
		margin-bottom: 22px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	&__socials a {
		padding-right: 32px;
		font-size: 16px;
		&::before {
			color: $firm-color;
		}
	}
}

.list-mobile {

	&__item {
		position: relative;
		transition: all 0.5s ease;
		&:not(:first-child) {
			margin-top: 30px;
		}
		&::before, &::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			width: 15px;
			height: 1.5px;
			background-color: $color-main;
			transition: all 0.5s ease;
		}
		&::before {
			transform: translateY(-50%);
		}
		&::after {
			transform: rotateZ(90deg);
		}
		&.active {
			color: $firm-color;
			&::before,&::after {
				background-color: $firm-color;
			}
		}
	}

	&__sublist {
		transition: all 0.5s ease;
		max-height: 0px;
		overflow: hidden;
	}
}

.sublist {

	&__list {
		padding: 0;
		*:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__item {
		
	}
}

/* HEADER MIDDLE */

.middle-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 21px 0;
	position: relative;
	&__logo {
		width: 30%;
		@include media-down(sm) {
			display: none;
		}
	}

	&__contacts {}
	&::before {
		content: '';
		width: 200vw;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.1);
		position: absolute;
		bottom: 0;
		left: -100vw;
		@include media-down(sm) {
			display: none;
		}
	}
	@include media-down(sm) {
		display: block;
	}
}

.contacts {
	display: flex;
	flex-direction: row;
	gap: 45px;
	align-items: center;
	&__contact {
		font-size: calc(14px + 4 * ((100vw - 320px) / (1230 - 320)));
		@media (min-width: 1230px) {
			font-size: 18px;
		}
	}

	&__contact-name {
		@include media-down(sm) {
			line-height: 20px;
		}
	}

	&__contact-tel {
		@include media-down(sm) {
			color: $firm-color;
			line-height: 20px;
		}
	}
	@include media-down(sm) {
		display: grid;
		grid-template-columns: repeat(2,minmax(125px, 1fr));
		grid-template-rows: repeat(2, minmax(42px, 1fr));
		row-gap: 10px;
		column-gap: 30px;
		justify-items: center;
	}
}

/* HEADER BOTTOM */

.bottom-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	font-size: calc(14px + 4 * ((100vw - 768px) / (1230 - 768)));
	gap: 10px;
	@media (min-width: 1230px) {
		font-size: 18px;
	}
	@include media-down(sm) {
		display: none;
	}
	&__link {
		&.active {
			color: $firm-color;
		}
	}

	&__search {
		cursor: pointer;
	}

	&__button > a {
		font-size: calc(14px + 4 * ((100vw - 320px) / (1230 - 320)));
		
		@media (min-width: 1229.77px) {
			font-size: 16px !important;
		}
		@media (max-width: 839.77px) {
			padding: 13px 20px;
		}
	}
	@include media-down(sm) {
		&__button{
			> a {
				padding: 10px 25px;
			}
		}
	}
}
